.form_add{
    display: flex;
    justify-content: center;
}
.column{
    display: flex;
    flex-direction: column;
}
.column input{
    border: 1px solid lightgrey;
    border-radius: 0.2vmax;
    text-align: center;
    margin: 0.5vmax;
    height: 1.5vmax;
    width: 16vmax;

}
body{
    background-color: rgb(168, 191, 255);
}
.column button{
    border: 1px solid lightgrey;
    border-radius: 0.33vmax;
    width: 6vmax;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-size: 1vmax;
}
input::-webkit-input-placeholder { color: rgb(230, 230, 230); }