body{
    background-color: rgb(188, 223, 236);
}
.form_block{
    display: flex;
    justify-content: center;
}
.column{
    display: flex;
    flex-direction: column;
}
#register_login{
    margin-top: 3vmax;
}
.register_input{
    font-family: 'DM Mono', monospace;
    margin: auto;
    margin-top: 0.5vmax;
    border:1px solid lightgrey;
    border-radius: 0.33vmax;
    background-color: rgb(245, 149, 154);
}
#register_login, #register_password, #register_rep_password{
    width: 30vmax;
    text-align: center;
    height: 2vmax;
    font-size: 1.3vmax;
}
#register_submit{
    color: rgb(103, 143, 235);
    border: 1px solid rgb(150, 177, 240);
    background-color: rgb(227, 242, 255);
    padding: 0;
    font-size: 1.5vmax;
    width: 10vmax;
    height: 2vmax;
    transition: all 0.5s;
}


#register_submit:hover{
    color: rgb(227, 242, 255);
    background-color: rgb(103, 143, 235);   
}
.registration{
    display: flex;
    justify-content: flex-end;
}
input::-webkit-input-placeholder { color: rgb(236, 171, 171); }


.ling_reg {
    margin: 0 auto;
    margin-top: 1vmax;
}
.ling_reg a{
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}
.msg{
    border-radius: 0.33vmax;
    padding: 0.2vmax;
    padding-right: 0.5vmax;
    padding-left: 0.5vmax;
    margin: 1vmax auto;
    font-weight: 400;
}
.red {
    border: 2px solid rgb(252, 113, 113);
    color: red;
}
.green{
    border: 2px solid rgb(168, 255, 156);
    color: green;
}
